<!DOCTYPE html>
<html lang="en"></html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'zone/style.css' %}">
    <meta charset="utf-8">
    <title>OFB</title>
    <meta name="language" content="en-US">
</head>

<header>
    <div>
        <h1><a href="{% url 'index' %}">Overflowing Bra, Redux</a></h1>
    </div>
    <div>
        <!-- search box -->
    </div>
</header>

<nav>
    <ul>
        <li class="dropdown">
            <a>Browse</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'stories' %}">Stories</a></li>
                <li><a href="{% url 'tags' %}">Tags</a></li>
            </ul>
        </li>
        <li><a>Search</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
</nav>

<main>
{% block content %}
{% endblock %}
</main>