<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <title>OFB</title>
    <meta name="language" content="en-US">
</head>

<body class="container-lg">
    <header>
        <div class="min-vh-5">
            <h1><a href="{% url 'index' %}">Overflowing Bra, Redux</a></h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'stories' %}">Browse Stories</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tags' %}">Browse Tags</a></li>
            <li class="nav-item"><a class="nav-link">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <main>
    {% block main %}
    {% endblock %}
    </main>
</body>
</html>