<div class="card">
    <div class="card-body">
        <h4 class="card-title"><a href="/zone/stories/{{ story.id }}/">{{ story.title }}</a> by <a href="{% url 'author' story.author.id %}">{{ story.author.name }}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ story.summary }}</h6>
        <p>{{ story.pub_date|date:"Y M d" }}</p>
        <ul class="list-group list-group-horizontal list-group-flush">
        {% for tag in story.tags.all %}
            <li class="list-group-item"><a href="{% url 'tag' tag.id %}">{{ tag.slug }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
        <dl>
            <dt>Words:</dt>
            <dd>{{ story.words }}</dd>
            <dt>Downloads:</dt>
            <dd>{{ story.downloads }}</dd>
        </dl>
    </div>
</div>