{% extends "zone/base.html" %}

{% block content %}
{% load static %}

<h1>{{ story.title }}</h1>
<h3>by <a href="/zone/author/{{ story.author.id }}/">{{ story.author.name }}</a></h3>

<p>{{ story.summary }}</p>

<p> Published: {{ story.pub_date }}</p>

<p>Contains {{ story.words }} words</p>
<p>Had {{ story.downloads }} downloads as of last trawling the original site</p>
<p>Contains the tags: {{ story.tags }}</p>

<h3><a href="{% static 'zone/stories/' %}{{ story.id }}.pdf">Read Now</a></h3>
{% endblock %}