{% extends "zone/base_text.html" %}


{% block content %}

{% load crispy_forms_tags %}
{% crispy filter.form %}

    <form method="get">
        <div class="form-row">
            <div class="col">
                {{ filter.form.title__icontains.errors }}
                <label for="{{ filter.form.title__icontains.id_for_label }}">Title:</label>
                <input type="text" class="form-control">
                 {{ filter.form.title__icontains }}
            </div>
            <div class="col">
                Author: {{ filter.form.author__icontains }}
            </div>
        </div>
        <div class="form-group">
            {{ filter.form.story__tags.errors }}
            <label for="{{ filter.form.story__tags.id_for_label }}">Tags:</label>

            
            <select class="custom-select" multiple>
            {% for tag in filter.filters.story__tags.queryset %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
            </select>
            <small id="tagHelpBlock" class="form-text text-muted">'Ctrl' click to select multiple</small>
        </div>


        <hr>
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    
    {% if filter.qs %}
    <ul class="list-group">
    {% for story in filter.qs %}
        <li class="list-group-item">{% include 'zone/story_item.html' with story=story %}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No stories are available.</p>
    {% endif %}

{% endblock %}