{% extends "zone/base.html" %}

{% block content %}
{% load static %}

<h1>{{ tag.slug }}</h1>

<p>{{ tag.description }}</p>

<ul>
{% for story in story_list %}
<li><div>
    <h4><a href="/zone/stories/{{ story.id }}/">{{ story.title }}</a> by <a href="{% url 'author' story.author.id %}">{{ story.author.name }}</a></h4>
    <p>{{ story.pub_date }}</p>
    <ul class="tags">
    {% for tag in story.tags.all %}
        <li><a href="{% url 'tag' tag.id %}">{{ tag.slug }}</a></li>
    {% endfor %}
    </ul>
    <h6>{{ story.summary }}</h6>
    <dl>
        <dt>Words:</dt>
        <dd>{{ story.words }}</dd>
        <dt>Downloads:</dt>
        <dd>{{ story.downloads }}</dd>
    </dl>
</div></li>
{% endfor %}
</ul>
{% endblock %}