/* General rules */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ul {
    list-style: none;
    padding: 0;
} */

/* Accessibility concerns: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns */
/* ul li::before {
    content: "\200B";
} */

/* li a {
    color: black;
} */

/* li a:hover {
    color: gray;
} */

/* Header */

header h1 {
    text-align: center;
    font-size: 4.0em;
    line-height: 0.2em;
}

header h1 a {
    color: gray;
    text-decoration: none;
}

header h1 a:hover {
    color: black;
}

/* Nav */

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    /* display: block; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F8F0;
    padding-left: 5%
}

nav li {
    float: left;
    min-width: 100px;
    min-height: 50px;
    font-size: 1.4rem;
}

nav li a {
    display: block;
    /* padding: 8px; */
    color: black;
    text-align: center;
    padding: 14px 16px;
    /* background-color: #dddddd; */
    text-decoration: none;
}

nav li a:hover {
    background-color: gray;
}

nav li.right {
    float: right;
}

/* Main body */

main {
    margin: 0 5%
}

main h2 {
    font-size: 2.5em;
    margin: 20px 0 5px 0; 
}

main p {
    margin: 0;
}

/* Pagination */

/* Stories */

div.blurb {
    border: 1px solid black;
    margin: .643em 0;
    background: #F8F8F0;
}

main ul {
    list-style-type: none;
    padding: 0;
}