{% extends "zone/base_text.html" %}

{% block title %}
Recent Stories
{% endblock %}

{% block subtitle %}
The most recently submitted works
{% endblock %}

{% block content %}
{% include 'zone/pagination_nav.html' %}

{% include 'zone/story_sort.html' %}

{% if latest_story_list %}
    <ul class="list-group">
    {% for story in latest_story_list %}
        <li class="list-group-item">{% include 'zone/story_item.html' with story=story %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No stories are available.</p>
{% endif %}

{% include 'zone/pagination_nav.html' %}

{% endblock %}