{% extends "zone/base_text.html" %}

{% block headtitle %}
About
{% endblock %}

{% block title %}
About
{% endblock %}

{% block content %}
<p>I like the ofb site, and the fetishes within. However, I found it lacking in usability, and has not appeared to be maintained in some time. There are different ways I would like to browse the stories. An example of a good presentation is AO3. This site also attempts to convert and provide a consistent, desired text format for reading (be it pdf, text, epub)</p>
<p>This site temorarily scans the original to pull new uploads, and presents them in an alternative manner</p>

<div>
    <h3>Contact</h3>
    The site code is free (as in speech) available on Github. Please submit bug reports and feature requests there. You can also use the code to host your own instance of this site.
</div>
<div>
    <h3>Accessibility</h3>
</div>
{% endblock %}