<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %} 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <title>{% block headtitle %}{% endblock %} | TOB</title>
    <meta name="language" content="en-US">
    <link rel="alternate" type="application/rss+xml" title="Recent Stories" href="{% url 'story-feed' %}" />
</head>

<body class="container-lg d-flex flex-column min-vh-100">
    <header>
        <div class="min-vh-5">
            <h1><a href="{% url 'index' %}">The Overflowing Bra, Redux</a></h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'stories' %}">Browse Stories</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tags' %}">Browse Tags</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'upload' %}">Upload</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <main>
    {% block main %}
    {% endblock %}
    </main>

    <footer class="bg-light text-muted mt-auto">
        <div class="d-flex flex-row">
            <a class="p-3 flex-fill text-center bd-highlight" href="">Sitemap</a>
            <a class="p-3 flex-fill text-center bd-highlight" href="">Website Code</a>
            <a class="p-3 flex-fill text-center bd-highlight" href="">Contact</a>
            <a class="p-3 flex-fill text-center bd-highlight" href="">Copyright</a>
        </div>
    </footer>
</body>
</html>