{% extends "zone/base.html" %}

{% block headtitle %}
Home
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">The Overflowing Bra, Redux!</h1>
    <p class="lead">Breast expansion story archive. Unofficially redone with a more modern interface</p>
    <p class="lead">More than {{ works|floatformat:"g" }} works by {{ authors|floatformat:"g" }} authors</p>
    <hr class="my-4">
    <p>Why not get started by viewing recently submitted stories?<p>
    <a class="btn btn-primary btn-lg" href="{% url 'stories' %}" role="button">View stories</a>
</div>
{% endblock %}