{% extends "zone/base_text.html" %}

{% block content %}
{% load widget_tweaks %}


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false" aria-controls="form">
        Filter and order
    </button>
    <form method="get" id="form" class="collapse show p-4 bg-light">
            <div class="form-row">
            <div class="col">
                {{ filter.form.title__icontains.errors }}
                <label for="{{ filter.form.title__icontains.id_for_label }}">Title:</label>
                {{ filter.form.title__icontains|add_class:"form-control" }}
            </div>
            <div class="col">
                {{ filter.form.author__name__icontains.errors }}
                <label for="{{ filter.form.author__name__icontains.id_for_label }}">Author:</label>
                {{ filter.form.author__name__icontains|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            {{ filter.form.story__tags.errors }}
            <label for="{{ filter.form.story__tags.id_for_label }}">Tags:</label>

            <div class="row px-3">
                {% for tag in filter.form.story__tags %}
                <div class="w-25">
                    {{ tag }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ filter.form.pub_date__year.id_for_label }}">Year of release:</label>
            {{ filter.form.pub_date__year|add_class:"custom-select" }}
        </div>

        <hr>

        <div class="form-group">
            <label for="{{ filter.form.o.id_for_label }}">Order By:</label>
            {{ filter.form.o|add_class:"custom-select" }}
        </div>

         <!-- {{ filter.form.as_p }} -->
        <input type="submit" class="btn btn-primary"/>
    </form>
    
    {% if filter.qs %}
    <ul class="list-group">
    {% for story in filter.qs %}
        <li class="list-group-item">{% include 'zone/story_item.html' with story=story %}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No stories are available.</p>
    {% endif %}

{% endblock %}