{% extends "zone/base_text.html" %}

{% block headtitle %}
{{ tag.slug }} - Works
{% endblock %}


{% block title %}
{% if tag.description %}
{{ tag.description }}
{% else %}
{{ tag.slug }}
{% endif %}
{% endblock %}

{% block content %}

{% include 'zone/pagination_nav.html' %}

<ul class="list-group">
{% for story in story_list %}
    <li class="list-group-item">{% include 'zone/story_item.html' with story=story %}</li>
{% endfor %}
</ul>

{% include 'zone/pagination_nav.html' %}

{% endblock %}